/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: white; /* Set text color to white for better contrast */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header styling */
header {
    background: #f8f8f8;
    text-align: center;
}

header h1 {
    color: #333;
}

/* Navigation styling */
nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

/* Footer styling */
footer {
    background: #333;
    color: #ffffff;
    text-align: center;
}

.logo-img {
    max-width: 400px; /* Set the maximum width of the logo */
    height: auto; /* Allow the height to adjust proportionally */
}

/* Additional CSS for adjusting image sizes */
.product img {
    max-width: 150px; /* Adjust the maximum width of the product images */
    height: auto; /* Allow the height to adjust proportionally */
}


/* Footer styling */
footer {
    background: #333;
    color: #ffffff;
    text-align: center;
}

/* Social media icons styling */
.social-icons {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.social-icons li {
    margin: 0 10px;
}

.social-icon a {
    font-size: 30px; /* Adjust the font size of the icons */
    color: #ffffff; /* Set the default color of the icons */
}

/* Facebook icon */
.social-icon.facebook a {
    color: #385898; /* Set the color for Facebook */
    
}

/* LinkedIn icon */
.social-icon.linkedin a {
    color: #0073b1; /* Set the color for LinkedIn */
    
}

/* Telegram icon */
.social-icon.telegram a {
    color: #0088cc;; /* Set the color for Telegram */
}

/* Email icon */
.social-icon.email a {
    color: #681da8; /* Set the color for Email */
}

/* Footer styling */
footer {
    background: #333;
    color: #ffffff;
    text-align: center;
    position: relative; /* Add position relative */
}

/* Chat bot styling */
.chat-container {
    position: absolute;
    bottom: 10px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
}
